<div id="content">
    <div class="header">
    <h2>Portal de Leyes Mexicanas</h2>
    <h3>
      Acceso a la información libre.
    </h3>
    <p>
      Este sitio está dedicado a proveer información accesible y comprensiva acerca de la leyes mexicanas, especialmente el reglamento de Tránsito de Monterrey.
    </p>
    <p>
      Creemos que todos debemos tener la oportunidad de entender nuestros derechos y obligaciones. Ya seas ciudadano, residente o visitante en México, esta plataforma funciona como un valioso recurso para el conocimiento legal.
    </p>
    <p>
      Con una interfaz amigable y lenguaje claro, pretendemos desglosar los conceptos legales y hacerlos facilmente entendibles. Nuestra misión es empoderar a los individuos al equiparlos con la información necesaria para navegar el marco legal de México de manera confidente.
    </p>
    <div class="bttns">
      <a routerLink="#" class="bttn secondary">Transito</a>
      <a routerLink='/reglamento' class="bttn primary">Ver reglamento</a>
    </div>
  </div>

</div>